<h2 data-bind="text: title"></h2>
<h3>Comments</h3>
<ul data-bind="foreach: comments" class="list-group">
    <li class="list-group-item post-item">
        <h4 data-bind="text: author, click: expand" class="list-group-item-heading"></h4>
        <div class="list-group-item-text">
            Date: <span data-bind="text: formatDate(date)"></span>
            <div data-bind="visible: expanded" class="post-controls">
                <div class="panel panel-default">
                    <div data-bind="text: content" class="panel-body"></div>
                </div>
                <!-- ko if: removable -->
                    <a data-bind="click: remove" class="btn btn-default btn-sm" href="#">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </a>
                <!-- /ko -->
            </div>
        </div>
    </li>
</ul>
<!-- ko if: comments().length === 0 -->
    <div class="alert alert-info" role="alert">
        This entry has no comments.
    </div>
<!-- /ko -->
