<!-- ko if: active() -->
    <div class="btn-group" id="menu">
        <!-- ko foreach: types -->
            <a data-bind="css: { active: $parent.active() === name },
                attr: { href: '#entries/' + name }, text: menu_label"
                class="btn btn-default" href="#"></a>
        <!-- /ko -->
        <a data-bind="css: { active: active() === 'users' }" class="btn btn-default" href="#users">Users</a>
        <a data-bind="css: { active: active() === 'files' }" class="btn btn-default" href="#files">Files</a>
        <a class="btn btn-default" href="#logout">Logout</a>
    </div>
<!-- /ko -->
