<h2 data-bind="text: title"></h2>

<ul data-bind="foreach: posts" class="list-group">
    <li class="list-group-item post-item">
        <h4 data-bind="click: expand, text: title" class="list-group-item-heading"></h4>
        <div class="list-group-item-text">
            Update date: <span data-bind="text: formatDate(date_updated)"></span>
            <!-- ko if: $parent.comments() -->
                comments: <span data-bind="text: comments"></span>
            <!-- /ko -->
            <div data-bind="visible: expanded" class="post-controls">
                <!-- ko if: editable -->
                    <a data-bind="attr: { href: editLink }" class="btn btn-default btn-sm" href="#">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                <!-- /ko -->
                <!-- ko if: $parent.comments() -->
                    <a data-bind="attr: { href: commentsLink }, css: { disabled: comments === 0 }"
                        class="btn btn-default btn-sm" href="#">
                        <span class="glyphicon glyphicon-comment"></span> Comments
                    </a>
                <!-- /ko -->
                <!-- ko if: removable -->
                    <a data-bind="click: remove"
                        class="btn btn-default btn-sm" href="#">
                        <span class="glyphicon glyphicon-edit"></span> Remove
                    </a>
                <!-- /ko -->
            </div>
        </div>
    </li>
</ul>
<!-- ko if: posts().length === 0 -->
    <div class="alert alert-info" role="alert">
        This entry type has no entries with access.
    </div>
<!-- /ko -->
<div class="bc-controls">
    <a data-bind="click: showMore, css: { disabled: !hasMore() }" class="btn btn-default" href="#">
        <span class="glyphicon glyphicon-list-alt"></span> Show more
    </a>
    <a data-bind="click: showAll, css: { disabled: !hasMore() }" class="btn btn-default" href="#">
        <span class="glyphicon glyphicon-list-alt"></span> Show all
    </a>
    <a data-bind="attr: { href: '#new/' + type }" class="btn btn-default" href="#">
        <span class="glyphicon glyphicon-plus"></span> Add
    </a>
</div>
