body {
    font-family: sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.spinner {
    position: fixed;
    top: 2em;
    left: 2em;
    padding: 1em;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 1em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.modal-content {
    width: 600px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
    border-radius: 6px;
}

.date-edit input {
    display: inline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td pre {
    white-space: pre-wrap;
}

td, th {
    border: 1px solid #ccc;
    padding: 6px;
}

th {
    text-align: left;
}

a {
    color: #06c;
}

label,
input[type=text],
input[type=password] {
    display: block;
}

input[type=text],
input[type=password],
textarea {
    border: 1px solid #ccc;
}

input[type=text],
input[type=password],
textarea {
    padding: 4px;
}

input[type=text],
input[type=password],
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

label {
    font-weight: bold;
}

.reference {
    font-family: monospace;
}

.detail-label {
    vertical-align: top;
}

.editor {
    margin: 1em 0;
}
